 /* --pc-boby-------------------------------------------- */
 body {
    background-image: url(/nomikai/img/backImage/setting.png);
    background-attachment: fixed;
    background-position: center center;
    /* 背景画像の繰り返しを防ぐ */
    background-repeat: no-repeat;
    /* 背景を画面全体に表示 */
    background-size: cover;
}
/* --pc-input-------------------------------------------- */
.input-style1 {
    position: absolute;
    top: 65px;
    left: 350px;
}
.input-style1-1 {
    width: 100%;
    padding: 0.7em 2em;
    position: relative;
    top: -20px;
    left: 0px;
    font-family: HGP行書体;
}
.input-style2 {
    position: absolute;
    top: 130px;
    left: 350px;
}
.input-style2-1 {
    width: 100%;
    padding: 0.7em 2em;
    position: relative;
    top: -20px;
    left: 0px;
    font-family: HGP行書体;
}
.input-style3 {
    position: absolute;
    top: 250px;
    left: 870px;
}
.input-style3-1 {
    width: 100%;
    padding: 0.7em 2em;
    position: relative;
    top: -20px;
    left: -5px;
    font-family: HGP行書体;
}
.input-style4 {
    position: absolute;
    top: 370px;
    left: 370px;
}
.input-style4-1 {
    width: 100%;
    padding: 0.7em 2em;
    position: relative;
    top: -15px;
    left: -20px;
    font-family: HGP行書体;
}
/* --pc-img-------------------------------------------- */
.img-style1 {
    position: absolute;
    top: 20px;
    left: 100px;
}
.img-style1-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 200%;
padding: 1em 1em;
position: relative;
top: -15px;
left: -20px;
}
.img-style2 {
    position: absolute;
    top: 200px;
    left: 600px;
}
.img-style2-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 180%;
padding: 0em 1em;
position: relative;
top: -20px;
left: 0px;
}
.img-style3 {
    position: absolute;
    top: 325px;
    left: 150px;
}
.img-style3-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 190%;
position: relative;
top: -15px;
left: 30px;
}
.img-style4 {
    position: absolute;
    top: 460px;
    left: 550px;
    z-index: -2;
}
.img-style4-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 180%;
position: relative;
top: -10px;
left: 50px;
}
.img-style5 {
    position: absolute;
    top: 450px;
    left: 10px;
    z-index: -2;
}
.img-style5-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 120px;
height: 150px;
}
.img-style6 {
    position: absolute;
    top: 450px;
    left: 100px;
    z-index: -2;
}
.img-style6-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 120px;
height: 150px;
}
.img-style7 {
    position: absolute;
    top: 450px;
    left: 200px;
    z-index: -1;
}
.img-style7-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 120px;
height: 150px;
}
/* --pc-p-------------------------------------------- */
.p-style {
    font-family: HGP行書体;
    font-size: 50px;
    position: absolute;
    top: 8px;
    left: 230px;
}
.p-style2 {
    font-family: HGP行書体;
    font-size: 50px;
    position: absolute;
    top: 70px;
    left: 140px;
}
.p-style3 {
    font-family: HGP行書体;
    font-size: 50px;
    position: absolute;
    top: 190px;
    left: 650px;
}
.p-style4 {
    font-family: HGP行書体;
    font-size: 50px;
    position: absolute;
    top: 190px;
    left: 1140px;
}
.p-style5 {
    font-family: HGP行書体;
    font-size: 50px;
    position: absolute;
    top: 310px;
    left: 220px;
}
.p-style6 {
    font-family: HGP行書体;
    font-size: 50px;
    position: absolute;
    top: 310px;
    left: 650px;
}
.p-style7 {
    font-family: HGP行書体;
    font-size: 50px;
    width: 50%;
    position: absolute;
    top: 450px;
    left: 670px;
    z-index: -1;
}
.p-style8 {
    font-family: HGS創英ﾌﾟﾚｾﾞﾝｽEB;
    color: #FFEDB3;
    font-size: 25px;
    position: absolute;
    top: 487px;
    left: 45px;
}
.p-style9 {
    font-family: HGS創英ﾌﾟﾚｾﾞﾝｽEB;
    color: #fff;
    font-size: 23px;
    position: absolute;
    top: 480px;
    left: 137px;
}
.p-style10 {
    font-family: HGS創英ﾌﾟﾚｾﾞﾝｽEB;
    color: #FF0000;
    font-size: 23px;
    position: absolute;
    top: 563px;
    left: 232px;
}
/* --pc-radio-------------------------------------------- */
.radio-style {
    margin-top: 470px;
    margin-left: 650px;
}
input[type=radio]+label:before {
    content: "";
    display: inline-block;
    background-size: contain;
    width: 130px;
    height: 130px;
    /* border: 6px solid white; */
    box-sizing: border-box;
}
/*input[type=radio][value="男性"]+label:before{
background-image: url(male1.png);
}
input[type=radio][value="male2.png"]+label:before {
    background-image: url(male2.png);
}
input[type=radio][value="female1.png"]+label:before {
    background-image: url(female1.png);
}*/
input[type=radio]:checked+label::before {
    /* border: 6px solid white; */
    background-image: url(/nomikai/img/object/circle.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
}
input[type=radio] {
    display: none;
}

/* --pc-footer-------------------------------------------- */

footer {
    position: absolute;
    bottom: 0;
    margin-left: 295px;
    top: 490px;
}

.menu {
    padding: 0;
}

.menuBar {
        background: rgba(139, 0, 0, 0.8);
        list-style-type: none;
        text-align: justify;
}

.menuText {

        font-family: メイリオ;
        font-weight: normal;
        font-size: 22px;
        padding: 0 15px 0 15px;
}

.menuText:link {
        text-decoration: none;
        color: white;
}

.menuText:visited {
        text-decoration: none;
        color: white;
}

.menuText:active {
        text-decoration: none;
        color: white;
}

.menuText:hover {
        text-decoration: none;
        color: gold;
}
/* @@sp-body@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width: 450px){

main {
	position: absolute;
	top: -5%
}

body {
    background-image: url(/nomikai/img/backImage/setting3-sp.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* --sp-input-------------------------------------------- */
.input-style1 {
    position: absolute;
    top: 90px;
    left: 160px;
}
.input-style1-1 {
    width: 50%;
}
.input-style2 {
    position: absolute;
    top: 140px;
    left: 160px;
}
.input-style2-1 {
    width: 50%;
}
.input-style3 {
    position: absolute;
    top: 250px;
    left: 165px;
}
.input-style3-1 {
    width: 50%;
}
.input-style4 {
    position: absolute;
    top: 370px;
    left: 180px;
}
.input-style4-1 {
    width: 50%;
}
/* --sp-img-------------------------------------------- */
.img-style1 {
    position: absolute;
    top: 55px;
    left: 0px;
}
.img-style1-1 {
    /* 背景画像の繰り返しを防ぐ */
    background-repeat: no-repeat;
    /* 背景を画面全体に表示 */
    background-size: cover;
    width: 110%;
    height: 7em;
}
.img-style2 {
    position: absolute;
    top: 225px;
    left: -20px;
}
.img-style2-1 {
    /* 背景画像の繰り返しを防ぐ */
    background-repeat: no-repeat;
    /* 背景を画面全体に表示 */
    background-size: cover;
    width: 110%;
    height: 5em;
}
.img-style3 {
    position: absolute;
    top: 350px;
    left: -35px;
}
.img-style3-1 {
    /* 背景画像の繰り返しを防ぐ */
    background-repeat: no-repeat;
    /* 背景を画面全体に表示 */
    background-size: cover;
    width: 100%;
    height: 5em;
    padding: 0px 10px 0px;
}
.img-style4 {
    position: absolute;
    top: 490px;
    left: -40px;
    z-index: -2;
}
.img-style4-1 {
    /* 背景画像の繰り返しを防ぐ */
    background-repeat: no-repeat;
    /* 背景を画面全体に表示 */
    background-size: cover;
    width: 100%;
    height: 5em;
}
.img-style5 {
    position: absolute;
    top: 600px;
    left: 10px;
    z-index: -2;
}
.img-style5-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 120px;
height: 150px;
}
.img-style6 {
    position: absolute;
    top: 600px;
    left: 100px;
    z-index: -2;
}
.img-style6-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 120px;
height: 150px;
}
.img-style7 {
    position: absolute;
    top: 600px;
    left: 200px;
    z-index: -1;
}
.img-style7-1 {
/* 背景画像の繰り返しを防ぐ */
background-repeat: no-repeat;
/* 背景を画面全体に表示 */
background-size: cover;
width: 120px;
height: 150px;
}
/* --sp-p-------------------------------------------- */
.p-style {
    font-family: HGP行書体;
    font-size: 35px;
    position: absolute;
    top: 50px;
    left: 80px;
}
.p-style2 {
    font-family: HGP行書体;
    font-size: 35px;
    position: absolute;
    top: 100px;
    left: 10px;
}
.p-style3 {
    font-family: HGP行書体;
    font-size: 35px;
    position: absolute;
    top: 210px;
    left: 10px;
}
.p-style4 {
    font-family: HGP行書体;
    font-size: 35px;
    position: absolute;
    top: 210px;
    left: 300px;
}
.p-style5 {
    font-family: HGP行書体;
    font-size: 35px;
    position: absolute;
    top: 340px;
    left: 50px;
}
.p-style6 {
    font-family: HGP行書体;
    font-size: 35px;
    position: absolute;
    top: 340px;
    left: 280px;
}
.p-style7 {
    font-family: HGP行書体;
    font-size: 35px;
    width: 300px;
    position: absolute;
    top: 480px;
    left: 50px;
    z-index: -1;
}
.p-style8 {
    font-family: HGS創英ﾌﾟﾚｾﾞﾝｽEB;
    color: #FFEDB3;
    font-size: 25px;
    position: absolute;
    top: 635px;
    left: 45px;
}
.p-style9 {
    font-family: HGS創英ﾌﾟﾚｾﾞﾝｽEB;
    color: #fff;
    font-size: 23px;
    position: absolute;
    top: 630px;
    left: 137px;
}
.p-style10 {
    font-family: HGS創英ﾌﾟﾚｾﾞﾝｽEB;
    color: #FF0000;
    font-size: 23px;
    position: absolute;
    top: 690px;
    left: 237px;
}
/* --sp-radio-------------------------------------------- */
.radio-style {
    margin-top: 500px;
    margin-left: 30px;
}
input[type=radio]+label:before {
    content: "";
/*     display: inline-block; */
/*     background-size: contain; */
    width: 90px;
    height: 90px;
/*      border: 6px solid white; */
/*     box-sizing: border-box; */
}
/*
input[type=radio][value="男性"]+label:before{
background-image: url(male1.png);
}
input[type=radio][value="女性"]+label:before {
    background-image: url(male2.png);
}
input[type=radio][value="その他"]+label:before {
    background-image: url(female1.png);
}
 */

input[type=radio]:checked+label::before {
    /* border: 6px solid white; */
    background-image: url(/nomikai/img/object/circle2.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
}
input[type=radio] {
    display: none;
}

/* --sp-footer-------------------------------------------- */

footer {
	position: absolute;
    bottom: 0;
    margin-left: 15px;
}

.menu {
    padding: 0;
}

.menuBar {
        background: rgba(139, 0, 0, 0.8);
        list-style-type: none;
        text-align: justify;
}

.menuText {

        font-family: メイリオ;
        font-weight: normal;
        font-size: 22px;
        padding: 0 15px 0 15px;
}

.menuText:link {
        text-decoration: none;
        color: white;
}

.menuText:visited {
        text-decoration: none;
        color: white;
}

.menuText:active {
        text-decoration: none;
        color: white;
}

.menuText:hover {
        text-decoration: none;
        color: gold;
}
}