@charset "UTF-8";
body {
	background-image: url(/nomikai/img/backImage/payment.jpg);
	background-repeat: no-repeat;
	position: relative;
}

 .fonts {
            font-family: "HGP行書体";
        }

 				.paySelect {
				font-family: "HGP行書体";
				color: white;
				border: 3px solid white;
				writing-mode: vertical-rl;
                font-size: 50px;
                padding: 5px 10px 5px 10px;
                margin: 33% 5% 0 5%;
                background-color: black;
				}

				.paySelect:hover {
				color: black;
				background-color: white;
				border: 3px solid black;
				}

				#result {
				color: white;
				background: black;
				border: 3px solid white;
				font-size: 60px;
				text-decoration: none;
				position: absolute;
				padding: 0 10px 0 10px;
				right: 15%;
				bottom: -10%;
				}

				#hcSelect option:nth-child(2n+1){
				background:lightgray;
				}

            .img-wide {
                height: 100vh;
                width: 100vw;
                position: relative;
                top: -3vh;
                z-index: -1;
            }

            .char-style {
                writing-mode: vertical-rl;
                font-size: 45px;
                margin: 5% 10%;
                margin-top: 32%;
                margin-bottom: 0;
                background-color: transparent;
                border: none;
            }

            .img-min,
            .img-small {
                display: none;
            }

        .payment-box {
            height: 500px;
            width: 500px;
            margin: auto;
            text-align: center;
            position: absolute;
            top: 8%;
            left: 26%;
        }

        .payment-box span {
            font-family: "HGS行書体";
            font-size: 25px;
        }

        .input-style {
            border: none;
            outline: none;
            background-color: transparent;
            /* 入力欄の背景色を透過 */
            text-align: center;
            margin: 10px 0;
            border-bottom: 1px solid #000;
            display: inline-block;
            font-size: 25px;
            max-width: 150px;
        }

		.per1Text {
		position: absolute;
		left: 5%;
		bottom: -10%;
 		font-family: "HGS行書体";
 		font-size: 35px;
		}


        /* ここからルーレットのcss */
                :root {
            --rotateS: 0deg;
            --rotateE: 1080deg;
        }


        .btnStyle1 {
            height: 40px;
            width: 150px;
            margin-left: 15% ;
            margin-top: 10px;
            display: block;
            background: red;
            border: 2px solid black;
            font-size: 14px;
            color: white;
        }

        .btnStyle1:hover {
			background: orange;
        }

        .btnStyle2 {
            height: 40px;
            width: 150px;
            margin-left: 15% ;
            margin-top: 10px;
            display: block;
            background: white;
            border: 2px solid black;
            font-size: 20px;
            color: black;
        }

        .btnStyle2:hover {
			background: gainsboro;
        }

        /* 扇形 */
        .shape {
            margin: auto;
            width: 400px;
            height: 400px;
            /* degに 360 / 入力された人数 の値を代入 */
            /* すべて合わせてルーレットのマスにする */
            /* background-image: conic-gradient(rgb(22, 97, 227) 45deg, white 45deg); */
            background-image: conic-gradient(red 0deg 72deg, orange 72deg 144deg, yellow 144deg 216deg, green 216deg 288deg, blue 288deg 360deg);
            clip-path: circle();
        }

        /* ルーレット上部の矢印 */
        .arrow-clippath {
            position: absolute;
            display: inline-block;
            top: 0px;
            left: 185px;
            width: 30px;
            height: 50px;
            background-color: #00fddf;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            z-index: 1;
        }

        .outlineStyle {
            height: 400px;
            width: 400px;
            position: relative;
            border-radius: 50%;
            border: 3px solid black;
            margin: auto;
        }

	.nameTable {
		position: absolute;
		bottom: 2%;
		left: 75%;
		width: 20%;
	}

	.nameForm {
	width: 100%;

	}
	.nameText {
		color: white;
	}

	#color1 {
		background: red;
		font-size: 120%;
	}

	#color2 {
		background: blue;
		font-size: 120%;
	}

	#color3 {
		background: green;
		font-size: 120%;
	}

	#color4 {
		color: black;
		background: yellow;
		font-size: 120%;
	}

	#color5 {
		color: black;
		background: pink;
		font-size: 120%;
	}

	#color6 {
		color: black;
		background: greenyellow;
		font-size: 120%;
	}

	#color7 {
		background: magenta;
		font-size: 120%;
	}

	#color8 {
		background: orange;
		font-size: 120%;
	}


/*下からフェードイン*/
 .rouletteWrapper {
position: absolute;
top: 5%;
left: 15%;
padding: 15px 200px 15px 200px;
background: rgba(20, 20, 20, 0.75);
   animation-name: fadein-bottom;
   animation-duration: 0.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

	.rouletteNon {
		display: none;
	}

	#backButton {
		font-family: HGS行書体;
		font-size: 50px;
		padding: 10px 20px 10px 20px;
		border: 3px solid black;
		background: rgba(256, 256, 256, 0.9);
		color: black;
		position: absolute;
		right: 50px;
		bottom: 50px;
	}

	#backButton:link {
	color: black;
	text-decoration: none;
	}

	#backButton:hover {
	color: white;
	background: black;
	text-decoration: none;
	border: 3px solid white;
	}

/*メディアクエリ*/

@media (max-width: 390px) {
body {
		background-image: url(/nomikai/img/backImage/paymentSp.jpg);
		background-repeat: no-repeat;
		position: relative;
	}
.paySelect {
	margin-top: 20%;
	background: rgba(20, 20, 20, 0.8);
}

.paySelect:hover {
	color: black;
	background-color: rgba(256, 256, 256, 0.85);
	border: 3px solid black;
}
.input-style {
	font-size: 35px;
}

.per1Text {
	position: absolute;
	left: 10px;
	bottom: -11%;
	font-family: "HGS行書体";
	font-size: 30px;
	color: white;
	border: 4px double white;
}

#hcSelect {
	height: 30px;
}

#result {
	background: rgba(20, 20, 20, 0.8);
	right: 20%;
	bottom: -25%;
	font-size: 70px;
}

.paymentForm {
	margin-top: 20px;
	color: black;
	background: rgba(256, 256, 256, 0.85);
}
.payment-box {

	 text-align: center;
	position: absolute;
	top: -5%;
	left: -7px;
	width: 390px;
	 }

	#backButton {
		font-family: HGS行書体;
		font-size: 30px;
		padding: 10px 20px 10px 20px;
		border: 3px solid black;
		background: rgba(256, 256, 256, 0.9);
		color: black;
		position: absolute;
		right: 50px;
		bottom: 50px;
	}

.rouletteWrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 50px 200px 20px;
	background: rgba(20, 20, 20, 0.75);
}

.nameTable {
	left: 60%;
	width: 35%;
}

.btnStyle1 {
 margin-left: 5% ;
margin-top: 30px;
}

.btnStyle2 {
 margin-left: 5% ;
margin-top: 10px;
}

.shape {
width: 300px;
height: 300px;
margin-left: 0;
}

 .outlineStyle {
height: 300px;
 width: 300px;
 margin-left: 5%;
}
.arrow-clippath {
left: 140px;
width: 20px;
height: 40px;
}

}