@charset "UTF-8";
 .fonts {
            font-family: "HGP行書体";
        }

 				.paySelect {
				font-family: "HGP行書体";
				color: white;
				border: 3px solid white;
				writing-mode: vertical-rl;
                font-size: 50px;
                padding: 5px 10px 5px 10px;
                margin: 33% 5% 0 5%;
                background-color: black;
				}

				.paySelect:hover {
				color: black;
				background-color: white;
				border: 3px solid black;
				}

				#result {
				color: white;
				background: black;
				border: 3px solid white;
				font-size: 35px;
				text-decoration: none;
				position: absolute;
				padding: 0 10px 0 10px;
				right: 30%;
				bottom: -15%;
				}

				#ikenie {
				color: white;
				background: black;
				border: 3px solid white;
				font-size: 35px;
				text-decoration: none;
				position: absolute;
				padding: 0 10px 0 10px;
				right: 28%;
				}

        @media (min-width: 626px) {
            .img-wide {
                height: 100vh;
                width: 100vw;
                position: relative;
                top: -3vh;
                z-index: -1;
            }

            .char-style {
                writing-mode: vertical-rl;
                font-size: 45px;
                margin: 5% 10%;
                margin-top: 32%;
                margin-bottom: 0;
                background-color: transparent;
                border: none;
            }

            .img-min,
            .img-small {
                display: none;
            }

        }

        @media ((max-width: 625px) and (min-width: 400px)) {
            .img-min {
                height: 100vh;
                width: 100vw;
                position: relative;
                top: -3vh;
                z-index: -1;
            }

            .char-style {
                writing-mode: vertical-rl;
                font-size: 45px;
                margin: 5% 10%;
                margin-top: 32%;
                margin-bottom: 0;
                background-color: transparent;
                border: none;
            }

            .img-wide,
            .img-small {
                display: none;
            }
        }

        @media (max-width: 400px) {
            .img-small {
                height: 100vh;
                width: 120vw;
                position: relative;
                z-index: -1;
                /* bottom: 0; */
            }

            .img-min,
            .img-wide {
                display: none;
            }

            .char-style {
                writing-mode: vertical-rl;
                font-size: 45px;
                margin: 5% 10%;
                margin-top: 45%;
                background-color: transparent;
                border: none;
            }
        }

        .payment-box {
            height: 500px;
            width: 500px;
            margin: auto;
            text-align: center;
            position: relative;
            top: -100vh;
            /* display: inline-block; */
        }

        .payment-box span {
            font-family: "HGP行書体";
            font-size: 25px;
        }

        .input-style {
            border: none;
            outline: none;
            background-color: transparent;
            /* 入力欄の背景色を透過 */
            text-align: center;
            margin: 10px 0;
            border-bottom: 1px solid #000;
            display: inline-block;
            font-size: 25px;
            max-width: 150px;
        }

        /* ここからルーレットのcss */
                :root {
            --rotateS: 0deg;
            --rotateE: 1080deg;
        }


        .btnStyle {
            height: 40px;
            width: 150px;
            margin: auto;
            margin-top: 10px;
            display: block;
        }

        /* 扇形 */
        .shape {
            margin: auto;
            width: 400px;
            height: 400px;
            /* degに 360 / 入力された人数 の値を代入 */
            /* すべて合わせてルーレットのマスにする */
            /* background-image: conic-gradient(rgb(22, 97, 227) 45deg, white 45deg); */
            background-image: conic-gradient(red 0deg 72deg, orange 72deg 144deg, yellow 144deg 216deg, green 216deg 288deg, blue 288deg 360deg);
            clip-path: circle();
        }

        /* ルーレット上部の矢印 */
        .arrow-clippath {
            position: absolute;
            display: inline-block;
            top: 0px;
            left: 185px;
            width: 30px;
            height: 50px;
            background-color: #00fddf;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            z-index: 1;
        }

        .outlineStyle {
            height: 400px;
            width: 400px;
            position: relative;
            border-radius: 50%;
            border: 3px solid black;
            margin: auto;
        }

/*下からフェードイン*/
 .rouletteWrapper {
margin-top: -97%;
margin-left: 15%;
margin-right: 15%;
padding: 15px 100px 15px 100px;
background: rgba(20, 20, 20, 0.75);
   animation-name: fadein-bottom;
   animation-duration: 0.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.rouletteNon {
	display: none;
}