/* --------------------------------------------------------- */

/* 背景画像の設定 */
body {
    background-image: url("/nomikai/img/backImage/regist.jpg");
    background-attachment: fixed;
    background-position: center center;
    /* 背景画像の繰り返しを防ぐ */
    background-repeat: no-repeat;
    /* 背景を画面全体に表示 */
    background-size: cover;
}

/* --------------------------------------------------------- */

.div_style {
    text-align: center;
}

/* --------------------------------------------------------- */

h1 {
    display: inline-block;
    font-size: 60px;
     /* 枠組みの設定 */
     border: 6px ridge #cd1111;
     padding: 0px 60px;
     background-color: #fff;
     /*　枠の中身と文字のなどの設定 */
     display: inline-block;
     text-align: center;
     font-family: HGP行書体;
}

/* --------------------------------------------------------- */

table {
    margin: auto;
    margin-right: 150px;
}

/* --------------------------------------------------------- */

/* テーブル左の設定 */
.label-style {
     /* 枠組みの設定 */
     border: 6px ridge #cd1111;
     padding: 0px 60px;
     background-color: #fff;
     /*　枠の中身と文字のなどの設定 */
     width: 130px;
     display: inline-block;
     text-align: center;
     font-size: 30px;
     font-family: HGP行書体;
}

/* テーブル右の設定 */
.label-style2 {
    border: 6px ridge #cd1111;
    background-color: #fff;
    /* 枠の中身と文字のなどの設定 */
    width: 220px;
    display: inline-block;
    font-size: 30px;
    font-family: HGP行書体;
}

/* --------------------------------------------------------- */

/* 要素の間隔 */
.td-style {
    padding: 10px;
    display: inline-block;
}

/* --------------------------------------------------------- */

.img_style1 {
    position: absolute;
    top: 500px;
    left: 655px;
}

.img_style1-1 {
    width: 150px;
}

.img_style2 {
    position: absolute;
    top: 540px;
    left: 900px;
}

.img_style2-1 {
    width: 160px;
}

/* --------------------------------------------------------- */

.p_style1{
    position: absolute;
    top: 540px;
    left: 685px;
    font-size: 50px;
    color: #333300;
    font-family: HGP行書体;
}

.p_style2{
    position: absolute;
    top: 590px;
    left: 917px;
    font-size: 50px;
    color: #333300;
    font-family: HGP行書体;
}

/* @@sp-body@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (max-width: 390px){

/* 背景画像の設定 */
body {
    background-image: url("/nomikai/img/backImage/regist2.jpg");
    /* 背景画像の繰り返しを防ぐ */
    background-repeat: no-repeat;
    /* 背景を画面全体に表示 */
    background-size: cover;
}

/* --------------------------------------------------------- */

.div_style {
    text-align: center;
    margin-top: -20px;
}

/* --------------------------------------------------------- */

h1 {
    display: inline-block;
    font-size: 60px;
     /* 枠組みの設定 */
     border: 6px ridge #cd1111;
     padding: 0px 60px;
     background-color: #fff;
     /* 枠の中身と文字のなどの設定 */
     display: inline-block;
     text-align: center;
     font-family: HGP行書体;
}

/* --------------------------------------------------------- */

table {
    margin: auto;
    margin-right: 150px;
}

/* --------------------------------------------------------- */

/* テーブル左の設定 */
.label-style {
     /* 枠組みの設定 */
     border: 6px ridge #cd1111;
     padding: 0px 60px;
     background-color: #fff;
     /*　枠の中身と文字のなどの設定 */
     width: 70px;
     display: inline-block;
     text-align: center;
     font-size: 30px;
     font-family: HGP行書体;
}

/* テーブル右の設定 */
.label-style2 {
    border: 6px ridge #cd1111;
    background-color: #fff;
    /* 枠の中身と文字のなどの設定 */
    width: 220px;
    display: inline-block;
    font-size: 40px;
    font-family: HGP行書体;
}

/* --------------------------------------------------------- */

/* 要素の間隔 */
.td-style {
    padding: 30px 5px;
    display: inline-block;
}

/* --------------------------------------------------------- */

.img_style1 {
    position: absolute;
    top: 680px;
    left: 20px;
    z-index: -1
}

.img_style1-1 {
    width: 200px;
}

.img_style2 {
    position: absolute;
    top: 750px;
    left: 240px;
    z-index: -1
}

.img_style2-1 {
    width: 200px;
}

/* --------------------------------------------------------- */

.p_style1{
    position: absolute;
    top: 730px;
    left: 50px;
    font-size: 70px;
    font-family: HGP行書体;
}

.p_style2{
    width: 50%;
    position: absolute;
    top: 800px;
    left: 250px;
    font-size: 70px;
    font-family: HGP行書体;
    color: white;
}

}