@charset "UTF-8";

	body {
		background: rgba(20, 20, 20, 0.9);
	}

	.mainContent {
		margin: 10px 0 10px 0;
		background: crimson;
}
	.obachan {
		margin: 20px auto 20px 0;
		text-align: center;
		animation-name: jump;
		animation-duration: .6s;
	}

	.animation{
		margin: 0;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-duration: 1s;
	}

	@keyframes jump{
		0%   { transform:translate(0%, 60px) rotateX(50deg); }
		100% { transform:translate(0%, 0%); }
	}

	.angryText {
		font-family: sans-serif;
		font-size: 40px;
		font-weight: bold;
		color: black;
		margin-top: 0;
		padding:0 10% 0 10%;
		text-align-last: justify;
	}

	.banner {
		background: gold;
		width:100%;
		overflow: hidden;
	}

	.textTop{
		margin:0 0 0 0;
		font-size: 30px;
		color: black;
		font-weight: bold;
		animation: flowing 10s linear infinite;
		transform: translateX(100%);/*初期位置*/
	}

	.textBottom{
		margin:0 0 0 0;
		font-size: 30px;
		color: black;
		font-weight: bold;
		animation: flowing 12s linear infinite;
		transform: translateX(120%);/*初期位置*/
	}

	@keyframes flowing {
		100% {
		transform: translateX(-100%);
	}
}